/* Estilos globales */
html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
    background-color: #55C9F4; /* Color de fondo de la página */
}

/* Fuente de google */
/*<uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900*/

.exo-{
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

  

/* Estilos del logotipo */
.logo img {
    width: 100px;
    height: auto;
    display: block;
    position: absolute; /* Posiciona el logo */
    top: -30px; /* Ajusta el valor para que sobresalga del header */
    left: 20px; /* Ajusta este valor según dónde quieras que esté el logo */
    z-index: 1101; /* Asegura que esté sobre el header y top bar */
    transition: transform 0.3s ease-in-out; /* Suaviza el efecto de zoom */
}

/* Estilos de la barra superior */
.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white; /* Color de fondo */
    color: #01142d; /* Color del texto */
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
}

.topbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 100px; /* Ajusta el valor para dejar espacio para el logo */
    padding-right: 20px; /* Mantén el padding derecho */
    color: #01142d;
}

.top-bar .social-media {
    display: flex;
    align-items: center;
}

.top-bar .social-media span {
    margin-right: 20px; /* ubicacion iconos redes*/
    color: #01142d;
    line-height: 1;
    display: flex;
    align-items: center;
    padding-left: 120px; /* margen siguenos en: ;*/
}

.top-bar .social-media a {
    margin-right: 10px;
}

.top-bar .social-media img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    vertical-align: middle;
}

/* Imagen a la derecha */
.top-bar .topbar-link {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: -30px; /* Ajuste manual */
}

.topbar-images {
    display: flex;
    align-items: center;
    gap: 3px; /* Espacio entre imágenes */
    margin-top: 5px; /* Ajuste manual */
}

.top-bar .topbar-image {
    width: 100px;
    height: auto;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    margin-top: 25px; /* Ajuste manual */
    margin-left: 10px; /* Espacio entre las imágenes */
}

/* Contenedor de las imágenes para controlar el espaciado */
.topbar-images {
    display: flex; /* Hace que las imágenes estén una al lado de la otra */
    align-items: center;
    gap: 20; /* Asegura que no haya espacio extra entre las imágenes */
    top: 10; 
}

.top-bar .topbar-link:first-child {
    margin-left: 0; /* Asegurarse de que la primera imagen no tenga margen */
}

.top-bar .topbar-link:first-of-type {
    margin-right: 5px; /* Espacio ajustado entre las dos imágenes */
}


/* Para pantallas grandes: mostrar imágenes de los botones y ocultar logo */
@media (min-width: 769px) {
    .logo-responsive {
        display: none; /* Ocultar el logo responsive */
    }
}

/* Para pantallas pequeñas: ocultar las imágenes de los botones y mostrar logo */
@media (max-width: 768px) {
    .topbar-image {
        display: none; /* Ocultar las imágenes de los botones */
    }

    .logo-responsive {
        display: block; /* Mostrar el logo responsive */
        margin-right: auto; /* Ajustar el margen si es necesario */
        margin-left: 3px; /* Espacio entre las imágenes */
        border-radius: 20px; /* esquinas redondeadas */ 
    }
}

/* Redondear esquinas de los logos en la derecha */
.topbar-images img {
    border-radius: 5px; /* Ajusta el valor según el nivel de redondeo que quieras */
    transition: all 0.3s ease;
}

/* Efecto de hover en los logos */
.topbar-images img:hover {
    transform: scale(1.05); /* Efecto de agrandar levemente al pasar el mouse */
}

/* Efecto de hover en los logos */
.logo img:hover {
    transform: scale(1.05); /* Efecto de agrandar levemente al pasar el mouse */
}

/* Estilos para el encabezado y la navegación */
/* Header fijo */
header {
    display: flex;
    position: fixed;
    top: 40px; /* Ajuste para que el header esté debajo del top bar */
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: #ffdd57;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

/* Estilos del menú de navegación en pantallas grandes */
.main-nav {
    display: flex;
    justify-content: center; /* Ajustar según necesidad */
    flex-grow: 1;
}
.main-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-nav ul li {
    margin-left: 4px;
    position: relative;
}
.main-nav ul li a {
    text-decoration: none;
    color: #01142d;
    font-size: 16px;
    padding: 10px 5px;
    transition: color 0.3s ease, background-color 0.3s ease;
    white-space: nowrap;
}
.main-nav ul li a:hover {
    background-color: #55C9F4;
    color: #01142d;
    border-radius: 5px;
}

/* Estilos del submenú desplegable */
.main-nav ul li ul.submenu {
    display: none;
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffdd57;
    padding: 0;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 998;
    text-align: center;
}
.main-nav ul li:hover ul.submenu {
    display: block;
}
.main-nav ul li ul.submenu li {
    margin: 0;
    padding: 0;
    text-align: left;
}
.main-nav ul li ul.submenu li a {
    color: #01142d;
    font-size: 14px;
    padding: 5px 12px;
    display: block;
}
.main-nav ul li ul.submenu li a:hover {
    background-color: #55C9F4;
    color: #01142d;
}

/* Estilos para el menú hamburguesa en pantallas pequeñas */
.menu-toggle {
    display: none;
}
.menu-icon {
    display: none;
    ;
}

.submenu {
    display: none;
  }

/* Estilos para el menú hamburguesa en pantallas pequeñas */
.menu-toggle {
    display: none;
}
.menu-icon {
    display: none;
    font-size: 26px;
    cursor: pointer;
    padding: 10px;
    color: #fff;
}

/* Para pantallas pequeñas */
@media (max-width: 768px) {
    .main-nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #ffdd57;
    }
    
    .main-nav ul li {
        text-align: center;
        margin: 0;
        padding: 10px 0;
    }

    .main-nav ul li a {
        padding: 15px;
        border-bottom: 1px solid #444;
    }

    .main-nav ul li .submenu {
        display: none; /* Ocultar submenús por defecto */
    }

    .menu-icon {
        display: block;
        font-size: 26px;
        cursor: pointer;
        padding: 10px;
        color: #01142d;
    }

    .menu-toggle:checked + .menu-icon + .main-nav ul {
        display: flex;
    }
}

/* Estilos de submenú en pantallas grandes */
.main-nav ul li:hover ul.submenu {
    display: block;
}


/* Estilos de la sección hero */
.hero-section {
    position: relative;
    height: 85vh;/* Ocupa toda la altura de la ventana */
    background: #f3f4f600;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-section .hero-image {
    position: absolute;
    top: 0;
    bottom: 20px; /* Ajusta el valor según sea necesario para bajar el contenido */
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.hero-image {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho de la sección */
    height: auto; /* Mantiene la relación de aspecto */
    object-fit: cover; /* Asegura que la imagen se ajuste sin distorsión */
}
.hero-section .hero-image.active {
    opacity: 1;
}

.hero-content {
    position: absolute;
    bottom: 10px; /* Ajusta el valor según sea necesario para bajar el contenido */
    left: 50%;
    transform: translateX(-50%); /* Centra horizontalmente el contenido */
    color: #fff;
    text-align: center;
    z-index: 1; /* Asegura que el texto y botón se vean sobre la imagen */
    max-width: 100%;
}

.hero-content h1 {
    font-size: 2.5rem; /* tamaño del h1 */
    color: #fff;
    line-height: 1.0;  /* Ajustar el interlineado */
    margin-bottom: 10px; /* margen inferior para acercar la siguiente frase */
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden; /* Evita el desbordamiento si el texto es muy largo */
    max-width: 100%; /* Asegura que el contenedor permita una línea más larga */
}

.hero-content p {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.0; /* Reducir el interlineado para la segunda frase */
    margin-bottom: 20px; /* Reducir la distancia entre la frase y el botón */
}

.cta-button {
    background-color: #ffdd57;
    color: #01142d;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 5px; /* Aumentar la proximidad del botón a las frases */
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #ffcc00;
}

/* Media query para pantallas medianas (tablets)*/
@media (max-width: 1024px) {
    .hero-content h1 {
        font-size: 2rem; /* Reducir tamaño en pantallas medianas */
        white-space: normal; /* Permite saltos de línea */
        text-overflow: clip; /* Permite que el texto se divida */
        line-height: 1.3;
}

/* Media query para pantallas muy pequeñas (teléfonos móviles) */
@media (max-width: 480px) {
    .hero-content h1 {
        font-size: 1.5rem; /* Reducir aún más el tamaño en móviles */
        white-space: normal; /* Permite saltos de línea en móviles */
        text-overflow: clip; 
        line-height: 1.4; /* Aumenta el espacio entre líneas */
    }
}
}

#slider {
    padding-top: 200px; /* Ajusta según la altura de tu barra superior */
    margin-top: -200px; /* Mismo valor que el padding-top para ajustar el desplazamiento */
}
 
@keyframes wipe-in-up { 
    from {
      clip-path: inset(100% 0 0 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:wipe:up"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-up both;
  }
 

/* Slider container Nuestra Historia */
.info-slider {
    position: relative;
    max-width: 100%;
    height: 350px;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slider-container {
    display: flex;
    width: 80%;
    height: 100%;
    position: relative;
}

.slider-item {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
}

.slider-item.active {
    opacity: 1;
    visibility: visible;
}

.slider-item img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.slider-content {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #ccc;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    height: auto;
}

.info-box {
    width: 50%;
    background-color: #f4f6f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.info-box h2 {
    margin-bottom: 15px;
    font-size: 28px;
    color: #01142d;
}

.info-box p {
    font-size: 16px;
    color: #01142d;
    font-style: italic;
    text-align: justify;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button.prev:hover, button.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Estilos para pantallas grandes */
.info-slider {
    position: relative;
    width: 100%;
}

.slider-container {
    display: flex;
    overflow: hidden;
    position: relative;
}

.slider-item {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.info-box {
    padding: 20px;
    box-sizing: border-box;
    width: 50%;
}

.slider-item img {
    width: 50%;
    height: auto;
}

.slider-text {
    max-height: none;
    overflow-y: visible;
}

/* Botones de navegación */
.prev, .next {
    position: absolute;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    font-size: 24px;
    width: 50px;
    height: 50px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

@media (max-width: 768px) {
    .info-box {
        width: 100%;
        padding: 10px;
        height: auto; /* Importante: que la caja se adapte */
        display: block;
    }

    .slider-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .slider-item {
        display: flex;
        flex-direction: column;/* Alineación vertical */
        width: 100%;
        height: auto; /* Deja que el tamaño dependa del contenido */
    }

    .slider-item img {
        width: 100%;/* Imagen ocupa el 100% del ancho */
        height: auto;
    }

    .slider-content {
        width: 100%;
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        height: auto; /* Deja que el contenedor crezca según el contenido */
    }

    .slider-content p {
        white-space: pre-wrap;
        word-wrap: break-word;
        height: auto;
        overflow: visible;
        width: 100%;
    }

    .slider-item, .slider-content, .slider-text {
        height: auto;
        overflow: visible;
    }

    .slider-content, .slider-text {
        height: auto; /* Elimina cualquier altura fija */
        overflow: visible;  
    }

    .info-box {
        width: 100%;
        padding: 10px;
    }

    .slider-text {
        white-space: normal; /* Permitir saltos de línea */
        word-wrap: break-word; /* Evitar que el texto se salga del contenedor */
        height: auto; /* Dinámico: ajusta según el contenido */
        overflow: visible; /* Asegúrate que no haya cortes */
    }

    .slider-text {
        max-height: none;
        overflow: visible;
    }
    
    .prev, .next {
        top: auto;
        bottom: 10px;
        transform: none;
    }

    .prev {
        left: 5px;
    }

    .next {
        right: 5px;
    }
}


/* SECCIÓN MADRE CLARA */
/* Encapsulación para evitar conflictos con otros estilos */
.madre-clara-section {
    font-family: 'exo', sans-serif;
    scroll-behavior: smooth;
  }
  
  /* Hero principal */
  .madre-clara-hero {
    position: relative;
    height: 60vh; /* Ajusté la altura para que el contenido suba más */
    background-image: url('../img/fondoseccionmc.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alinea el contenido más hacia arriba */
    padding-top: 20px; /* Ajusta el espaciado si es necesario */
    max-width: 100vw;
    box-sizing: border-box;
    z-index: 900;
}

/* Ajustar el alto de la imagen hero */
.madre-clara-hero-image {
    height: 100px; /* Ajusta el alto según sea necesario */
    object-fit: cover; /* Asegura que la imagen se ajuste sin distorsionarse */
  }

/* Ajustar márgenes de la frase que se actualiza */
.madre-clara-hero-phrase {
    margin-top: 20px; /* Ajusta el margen superior */
    margin-bottom: 20px; /* Asegura que el margen inferior sea igual */
    text-align: center;
  }

  .madre-clara-hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .madre-clara-img {
    width: 220px; /* Ajusta el tamaño de la imagen */
    margin-right: 20px;
    border-radius: 10px;
  }

  .madre-clara-hero-text {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    text-align: left;
}

  .madre-clara-hero-text h1 {
    font-size: 3em;
    margin: 0;
    text-align: left;
  }

  .madre-clara-hero-text p {
    font-size: 1.0em;
    margin-top: 10px;
    text-align: left;
  }

/* Sección de frases */
.madre-clara-frases {
    margin-top: 20px; /* Aumenta el espacio entre el texto de Madre Clara y la frase */
    text-align: center;
    z-index: 1100; 
}

/* Recuadro blanco y comilla grande para la frase */
.frase-recuadro {
    background-color: white;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
    display: inline-block;
    max-width: 80%;
    position: relative;
    font-style: italic;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.madre-clara-visible .frase-recuadro {
    opacity: 1;
}

/* Estilo de la comilla grande fija */
.frase-recuadro::before {
    content: "“"; /* Comilla grande fija */
    font-size: 8em;
    color: #016fb9;
    position: absolute;
    top: -70px;
    left: -10px;
}

  .madre-clara-auto-frase {
    text-align: center;
    margin-top: 10px;
  }

  .madre-clara-auto-frase p {
    font-size: 1.5em;
    color: #333;
    transition: opacity 1s ease-in-out, transform 0.5s ease-in-out; /* Añade transición para suavidad */
    opacity: 1; /* Asegúrate de que sea visible */
    transform: translateY(0); /* Posición inicial */
}

/* Cuando se oculta o se actualiza */
.madre-clara-auto-frase.hidden p {
    opacity: 0;
    transform: translateY(-10px); /* Efecto de subir */
}

  .madre-clara-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
/* Estilos para las pestañas de Logo y Video */
.logo-video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin-top: 40px;
}

/* Cada uno de los bloques de logo y video */
.logo-container, .video-container {
    flex: 1;
    max-width: 500px;
}

/* Animación suave para mostrar logo y video */
#logo-content, #video-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
}

/* Títulos y descripción debajo */
.logo-container h2, .video-container h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.logo-container p, .video-container p {
    font-size: 1.2em;
    color: #666;
}

/* Cuando se expande */
.active-content {
    max-height: 500px; /* Ajusta según el contenido */
    opacity: 1;
}

/* Animaciones de hover */
.madre-clara-logo, iframe {
    transition: transform 0.3s ease;
}

.madre-clara-logo:hover, iframe:hover {
    transform: scale(1.05);
}

/* Animación de zoom al pasar el cursor sobre las imágenes */
.madre-clara-logo, .madre-clara-img, iframe {
    transition: transform 0.3s ease-in-out;
}

.madre-clara-logo:hover, .madre-clara-img:hover, iframe:hover {
    transform: scale(1.1);
}

/* Estilo de las pestañas para logo y video */
.tabs {
    display: flex;
    justify-content: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

.tab-link {
    background-color: #ffdd57;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px 5px 5px 5px;
    margin-right: 5px;
}

.tab-link:hover {
    background-color: white;
}

.tab-content {
    display: none;
    text-align: center;
    padding: -4px;
    background-color: white;
    border-radius: 0 5px 5px 5px;
    margin-top: 10px;

    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.tab-content.visible {
    display: block; /* Mostrar contenido */
    max-height: 500px; /* Ajusta según el contenido */
    opacity: 1;
}

.active-content {
    display: block;
  }

/* Botones de pestañas con transiciones */
.tab-buttons button {
    background-color: #EAEAEA;
    color: #333;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.tab-buttons button.active {
    background-color: #0066CC;
    color: white;
}

.tab-buttons button:hover {
    transform: translateY(-2px); /* Efecto al pasar el cursor */
}

/* Animación suave para mostrar logo y video */
#logo-content, #video-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
}

/* Cuando se expande */
.active-content {
    max-height: 500px; /* Ajusta según el contenido */
    opacity: 1;
}

/* Hover y animaciones */
.madre-clara-logo, iframe {
    transition: transform 0.3s ease;

  }
  
  .madre-clara-logo:hover, iframe:hover {
    transform: scale(1.05);
  }
  

/* Animación de Noticias al desplazarse */
.news-schedule-section {
    transition: margin-top 0.5s ease-in-out;
}

.news-schedule-section.shifted {
    margin-top: 300px; /* Ajusta según el espacio necesario cuando los contenidos están visibles */
}

.visible {
    display: block;
}

#logo, #video {
    display: none; /* Ocultos por defecto */
}



/*sección NOTICIAS Y CRONOGRAMA */
/* Estilos para la sección general */

.news-schedule-section {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

/* Botones de Noticias y Cronograma */
.tab-buttons {
    font-family: 'exo', sans-serif;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.tab-buttons button {
    font-family: 'exo', sans-serif;
    background-color: #EAEAEA;
    color: #333;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.tab-buttons button.active {
    background-color: #0066CC;
    color: white;
}


/* Estilos para la sección de contenido */
.hidden {
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.section-content.active {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    transition: opacity 0.3s ease-in-out;
}

#news-section.active-news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

/* Estilos para las tarjetas de Noticias */
.news-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.news-card:hover {
    transform: translateY(-5px);
}

.news-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.news-content {
    padding: 15px;
}

.news-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.news-content p {
    font-size: 14px;
    color: #666;
}

.news-link {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    color: #0066CC;
    text-decoration: none;
    transition: color 0.3s ease;
}

.news-link:hover {
    color: #004A99;
}

/* Ocultar la sección no activa */
.schedule-section, .news-section {
    display: none; /* Inicialmente ocultamos ambas secciones */
}

/* Mostrar solo la sección activa */
.active-news {
    display: block; /* Mostrar noticias si están activas */
}

.active-schedule {
    display: block; /* Mostrar cronograma si está activo */
}


/* Responsive para la sección de noticias */
@media (max-width: 768px) {
    .section-content.active {
        grid-template-columns: 1fr;
    }
    .tab-buttons {
        justify-content: center;
    }
}


/* ========== Sección CRONOGRAMA ========== */
/* Estilos básicos del carrusel */

/* Reducir el margen entre los botones y el carrusel */
#buttons-container {
    margin-bottom: 10px; /* Ajusta esta cifra según sea necesario */
}

/* Asegura que toda la sección cronograma tenga fondo blanco */
#schedule-section {
    background-color: #f9f9f9;
    padding: 20px; /* Añade padding si es necesario para separación */
}

.slick-slider {
    width: 90%;
    margin: 0 auto;
    background-color: #f9f9f9; /* Opcional: Asegurar que el contenedor del carrusel también tenga fondo blanco */
}

/* Asegúrate de que el carrusel esté alineado correctamente */
#schedule-section .slick-slider {
    margin-top: 0; /* Elimina cualquier margen adicional por encima */
}

.slick-slide {
    padding: 0 10px; /* Añadir espacio entre las imágenes */
}

.slick-slide img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Para la animación */
}

.slick-prev, .slick-next {
    font-size: 20px;
    border-radius: 50%; /* Hacer los botones circulares */
    width: 60px; /* Tamaño del botón */
    height: 60px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    opacity: 0.75;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer; /* Mostrar cursor de puntero */
    display: block;
}

.slick-prev, .slick-next {
    background-color: #8d8d8d; /* Color visible para pruebas */
    display: flex; 
    color: white; 
    z-index: 1000; 
}

.slick-prev {
    left: -30px; /* Ajusta según sea necesario */
}

.slick-next {
    right: -30px; /* Ajusta según sea necesario */
}

.slick-prev::before, .slick-next::before {
    background-color: #ffffff !important;
    color: rgb(68, 68, 68) !important;
}

.slick-next::before {
    content: '\2192'; /* Flecha derecha */
}

/* Animación de hover en las imágenes (como en noticias) */
.slick-slide img:hover {
    transform: scale(1.05); /* Agrandar ligeramente la imagen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra */
}

/* Aumentar el tamaño del modal */
.modal-content {
    max-width: 100%; /* Ajustar el tamaño máximo */
    max-height: 100%; /* Ajustar el tamaño máximo */
}

/* Modal de imagen expandida */
.modal {
    display: none;
    position: fixed;
    z-index: 1200;
    left: 0;
    top: 0;
    width: 150%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/* ========== Sección CONTACTO ========== */
/*sección para derechos reservados */
.footer-container {
    font-family: 'exo', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #01142d;
    color: white;
  }

.footer-images {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: flex-start; /* Alinea las imágenes a la izquierda */
}

.footer-images img {
    margin-right: 20px; /* Espacio entre imágenes */
    max-height: 150px; /* Ajusta el tamaño máximo del escudo */
}

#llogopij {
    transition: transform 0.3s ease;
}

#logopij:hover {
    transform: scale(1.05);
}

.footer-links ul li {
    margin-bottom: 5px;
}

.footer-contact p {
    margin: 5px 0;
  }

.footer-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.footer-icons a {
    margin-right: 15px;
    font-size: 20px;
    color: #01142d;
  }

.footer-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-icons i {
    font-size: 20px;
    margin-right: 10px;
}

.footer-buttons button {
    margin-right: 10px;
    padding: 10px;
    background-color: #016fb9;
    color: white;
    border: none;
    cursor: pointer;
  }
  
.footer-buttons button:hover {
    background-color: #014e7a;
}

.scroll-up-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #55C9F4; /* volver arriba */
    color: #01142d; /* Color del texto */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.scroll-up-btn:hover {
    background-color: white; /* Color de fondo al pasar el cursor */
    color: #01142d
}

.contact-section {
    background-color: #ffdd57;
    color: #01142d;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.escudosme, .escudopij {
    max-width: 160px; /* Ajusta el tamaño */
    margin-right: 20px;
    justify-content: flex-start; /* Alinea las imágenes a la izquierda */
    align-items: center; /* Centra verticalmente */
}

.escudosme {
    margin-right: 30px; /* Ajusta la separación entre las imágenes */
    max-width: 120px
}

.contact-links ul {
    list-style: none;
    padding: 0;
}

.contact-links ul li {
    margin: 5px 0;
}

.contact-links ul li a {
    color: #01142d;
    text-decoration: none;
}

.contact-links ul li a:hover {
    color: #016fb9;
}

.contact-details p {
    margin: 5px 0;
    font-size: 14px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons p {
    margin-bottom: 10px;
}

.social-icons a {
    color: #01142d;
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #FFD700;
}

.footer-social-media {
    display: flex;
    flex-direction: column; /* Coloca los íconos en una columna */
    align-items: flex-start; /* Alinea los íconos al principio de la columna */
    margin-left: 200px; /* Ajusta esta propiedad para mover los íconos hacia la derecha */
}

.footer-social-media a {
    margin-bottom: 5px; /* Espacio entre los íconos */
}

.footer-social-media a img {
    width: 50px;  /* Ajusta el tamaño de los íconos */
    height: 50px; /* Mantén las proporciones cambiando ambas dimensiones */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Agrega una sombra suave */
}

.social-media a img {
    vertical-align: middle; /* Alinea verticalmente todos los íconos */
    display: inline-block;
}

.social-media a img {
    transition: transform 0.3s ease;
}

.social-media a img:hover {
    transform: scale(1.1); /* Agranda un poco al pasar el mouse */
}

.footer-social-media {
    display: flex;
    flex-direction: column; /* Coloca los íconos en una columna */
    align-items: flex-start; /* Alinea los íconos al principio de la columna */
}

.footer-social-media a {
    margin-bottom: 10px; /* Espacio entre los íconos */
}

.contact-buttons {
    margin-top: 20px;
}

.contact-buttons button {
    font-family: 'exo', sans-serif;
    background-color: #55C9F4;
    color: #01142d;
    padding: 10px 20px;
    
    margin: 10px 0;
    cursor: pointer;
}

.contact-buttons button:hover {
    background-color: white; /* contacto presionado */
    color: #01142d;
}


.enlace-direccion {
    color: #01142d; /* Cambia el color del enlace */
    text-decoration: none; /* Quita el subrayado si no lo quieres */
}

.enlace-direccion:hover {
    color: lightgray; /* Cambia el color cuando el usuario pasa el cursor */
}

/* Modal (Formulario emergente) */
/* Animaciones para aparecer y desaparecer */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-50px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  @keyframes fadeOut {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(-50px); }
  }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 120px;
  }

.modal-content {
    background-color: #fefefe;
    max-width: 40%; /* Reduce el ancho del modal */
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    animation: fadeIn 0.5s ease;
}

.modal-content h2 {
    margin-top: 5px; /* Ajusta según lo que necesites */
}

.modal-content input, 
.modal-content textarea, 
.modal-content label {
    color: #01142d; /* Ajusta el color de texto */
}

.close {
    color: #01142d; /* Asegúrate que el color sea visible */
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: block !important; /* Forzamos que se muestre */
    opacity: 1 !important; /* Por si hay alguna animación que lo oculte */
    visibility: visible !important; /* Forzamos la visibilidad */
    transition: none !important; /* Desactivar cualquier animación */

    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1001; /* Asegúrate de que esté por encima de otros elementos */
}

.modal-header {
    margin-top: 4px; /* O ajusta según lo que necesites */
}

.modal form label {
    display: block;
    margin: 10px 0 5px;
}

.modal form input,
.modal form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal form button {
    background-color: #01142d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.modal form button:hover {
    background-color: #55C9F4;
    color: #01142d;
}

.modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #040404;
    cursor: pointer;
    z-index: 100;
    /* Fuerza la visibilidad */
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    transition: none; /* Desactivar cualquier posible animación que la oculte */
}

.modal-close:hover {
    color: #040404; /* Cambia el color al pasar el mouse, opcional */
}

/* POPUP */
#infoPopup {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.595); /* Fondo oscuro tras el popup */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.popup {
    position: relative;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    max-width: 80%; /* Ajusta el ancho máximo al 80% de la ventana */
    max-height: 80%; /* Ajusta el alto máximo al 80% de la ventana */
    overflow: hidden; /* Para asegurar que no haya overflow */
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s ease;
  }

.popup-content {
    margin: 8% auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    width: 40%;
    text-align: center;
}

/* Imagen dentro del popup */
.popup-content img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain; /* Mantiene las proporciones sin recortar */
  }

/* Botón para cerrar (X) */
.popup-content {
    position: relative; /* Asegura que el contenedor de la imagen o el popup sea el contexto */
}

.popup-content .close-popup {
    position: absolute; /* Cambiar a absolute para que se posicione dentro del contenedor */
    top: 0px; /* Ajusta según el espacio que desees en la parte superior */
    right: 35px; /* Ajusta para que se acerque al borde derecho */
    font-size: 30px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

  .hidden {
    display: none;
    animation: fadeOut 0.5s ease forwards;
}

/* Para pantallas pequeñas */
@media (max-width: 768px) {
    .popup-content {
        width: 90%; /* Ajusta el tamaño del popup */
        margin: 0 auto; /* Centra el popup horizontalmente */
        position: relative;
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        height: 100vh; /* Altura completa de la pantalla */
    }

    .popup-content .close-popup {
        position: absolute;
        top: 265px;  /* Justo en la parte superior */
        right: 5; /* Justo en la parte derecha */
        font-size: 30px;
        cursor: pointer;
        color: black;
        padding: 5px; /* Ajusta si quieres un pequeño margen */
    }
    
    .popup {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
    }
}

/* BARRA CONTACTOS */
footer {
    width: 100%;
    text-align: center;
    background-color: #55C9F4;
    color: #01142d;
    padding: 10px 0;
    transition: transform 0.3s ease;
}

footer span {
    color: #01142d; /* Color del texto de la fecha */
}

footer p {
    margin: 0;
}

footer:hover {
    transform: scale(1.02);
}

.update-bar {
    background-color: #55C9F4; /* Ajustar el color original */
    color: white; /* Asegura que el texto sea legible */
    font-size: 16px; /* Ajusta el tamaño según lo que necesitas */
    padding: 20px 0; /* Añade relleno para darle más altura */
    text-align: center;
}